@page "/"
@namespace TaskTracker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TaskTracker.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<app>
    @(await Html.RenderComponentAsync<Welcome>(RenderMode.ServerPrerendered))
</app>

<script src="_framework/blazor.server.js"></script>
</body>
</html>